@import 'https://fonts.googleapis.com/css?family=Cinzel:900';
body {
    background: url("/assets/images/background.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Cinzel', sans-serif;
}
.splash {
    text-align: center;
    font-size: 7em;
    border: .1em solid white;
    left: 35%;
    width: 3.6em;
    position: absolute;
    top: 35%;
}
.main {
    height: 100%;
    width: 100%;
}
.screen {
    height: 100%;
    width: 100%;
}
.ship1 {
    height: 3em;
    width: auto;
    z-index: 2;
    visibility: hidden;
}

.bee {
    height: 3em;
    width: auto;
    z-index: 2;
    visibility: hidden;
}

/*canvas {
    position: absolute;
    background: transparent;
}

#background {
    width: 98vw;
    height: 96vh;
    z-index: 2;
}*/

.player1 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.player2 {
    position: absolute;
    top: 100px;
    left: 400px;
}

/*#main {
    z-index: -1;
}

#ship {
    z-index: 0;
}*/
